<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Homepage</title>
    <!-- <link rel="stylesheet" href="{% static 'CSS/home.css' %}"> -->
</head>
<body style="margin:0; font-family: Arial, sans-serif; background-color:#f4f4f9; color:#333;">
    <header style="background-color:#4CAF50;padding:20px; text-align:center; color:white;">
        <h1 style="margin:0; font-size:2.5rem;">Welcome to my Homepage</h1>
    </header>
    <main style="max_width:900px; margin:40px auto; padding:20px; background:white; border-radius:8px; box-shadow:0 2px 8px rgba(0,0,0,0.1);">
            <h2 style="color:#4CAF50; margin-top:0;">About Us</h2>
            <p style="line-height:1.6">
                We provide high-quality services to our customers with care and commitmet.
                our mission is to deliver solution that make life easier and more enjoyable.
            </p>
            <h2 style="color:#4CAF50;">Our Services</h2>
    </main>

    <footer style="background-color:#333; color:white; text-align:center; padding:15px; margin-top:40px;">
        <p style="margin:0;">©️ 2025 My Website</p>
    </footer>
</body>
</html>