<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static CSS/home.css %}">
</head>
<body>
    <header>
        <h1>Welcome to my Homepage</h1>
    </header>
    <main>
        <section class="card">
            <h2>About Us</h2>
            <p>We provide high-quality services to our customers with care and commitmet.</p>
        </section>
    </main>

    <footer>
        <p>©️